@media (max-width: 700px) {
  main {
    .slides {
      header {
        h1 {
          font-size: 25px;
        }
      }
      .slide {
        .slide-number {
          font-size: 25px;
        }
        .copy {
          position: relative;
          left: 2rem;
        }

        .content {
          margin-bottom: 4rem;
          h1 {
            font-size: 25px;
            text-align: center;
          }
          h3 {
            font-size: 15px;
          }
        }
      }
    }
    button {
      i {
        font-size: 30px;
      }
    }
    .play-slides,
    .pause-slides {
      bottom: 0.2rem;
      left: 45%;
    }
    .social {
      a {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 600px) {
  main {
    .slides {
      .slide {
        .slide-number {
          font-size: 20px;
        }
        .content {
          h1 {
            font-size: 20px;
          }
        }
      }
    }
    .next {
      right: 0.5rem;
    }
    .prev {
      left: 0.5rem;
    }
    button:hover {
      transform: none;
    }
  }
}

@media (max-width: 450px) {
  main {
    .slides {
      .slide {
        .content {
          min-height: 250px;
        }
      }
    }
    .play-slides,
    .pause-slides {
      bottom: 0.2rem;
      left: 42%;
    }
  }
}

@media (max-width: 350px) {
  main {
    .play-slides,
    .pause-slides {
      bottom: 0.2rem;
      left: 40%;
    }
  }
}
